* {
  font-family: "Gabarito", sans-serif;
  padding: 0px;
  gap: none;
}
.navbar {
  display: flex;
  gap: 10px;
  border-bottom: solid;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 1;
}
.navbar__title {
  color: #8637dd;
  font-size: 30px;
}
.navbar__search input {
  border: none;
  width: 90%;
}
.navbar__search {
  border: solid black 1px;
  border-radius: 60px;
  width: 100%;
  padding: 10px;
}
.navbar__search input:focus {
  outline: none;
}
.navbar__icons {
  display: flex;
  gap: 10px;
  align-items: center;
}
.navbar__icons__mylearn {
  position: relative;
  cursor: pointer;
}
.navbar__icons__mylearn:hover .navbar__icons__mylearn1 {
  display: flex;
}
.navbar__icons__mylearn1 {
  border: solid black;
  background-color: white;
  display: none;
  position: absolute;
  width: 200px;
  height: fit-content;
  right: 0px;
  padding: 5px;
}
.navbar__icons__mylearn2 {
  display: none;
}
.navbar__icons__mylearn3{
  display: flex;
}
.catogeries {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.catogeries__pa {
  border: solid purple 1px;
  padding: 10px;
  size: 30px;
  border-radius: 20px;
  background-color: #8637dd;
  color: white;
  transition-duration: 1s;
}
.catogeries__pa:hover {
  background-color: #b27deb;
  color: black;
  border: solid black 1px;
  cursor: pointer;
}
.img img {
  width: 100%;
  height: 600px;
}
.img {
  position: relative;
}
.img__sale {
  background-color: white;
  color: black;
  position: absolute;
  bottom: 90px;
  left: 30px;
  border: #1f023f solid;

  padding: 10px;
  animation: zoom;
  animation-duration: 5s;
  opacity: 0;
  animation-fill-mode: forwards;
}
@keyframes zoom {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.recomend__contain {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
  flex-grow: 1;
  
}
.course_card {
  width: 20%;
  padding: 10px;
}
.course_card img {
  width: 100%;
  height: 50%;
}
.recomend {
  padding: 10px;
}
.recomend__contain__head {
  line-height: 1.2;
}
.recomend__title {
  margin: 0px;
}
.recomend__title h1 {
  margin-top: 20px;
}
.topic {
  padding: 10px;
}
.topic__container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.topic__container p {
  outline: solid;
  padding: 10px;
  flex-grow: 1;
  flex-basis: 25%;
}
.pop__contain {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
  
}
.p {
  padding: 10px;
}
.pop__title {
  margin: 0px;
}
.pop__title h1 {
  margin-top: 20px;
}
.foot {
  background-color: black;
  color: white;
  padding: 20px;
}
.foot1 {
  display: flex;
  gap: 40px;
}
.foot2 {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 800px) {
  body {
    font-size: 12px;
  }

}
@media screen  and (max-width:800px){
  .course_card{
    flex-basis: 40%;
    flex-grow: 1;
  }
  .navbar__search,.catogeries,.navbar__icons p,.navbar__icons__mylearn,.navbar__icons__mylearn3{
    display: none;
  }
  .navbar__icons__mylearn2{
    display: flex;
  }
}